/** Define the margins of your page **/
        @page {
            margin: 100px 25px;
        }

        #watermark {
            position: fixed;
            /*position in the page for your image This should center it vertically*/
            bottom: 15cm;
            left: 8cm;
            /** Change image dimensions**/
            width: 10cm;
            height: 10cm;
            /** Your watermark should be behind every content**/
            z-index: -1000;
        }

        #footer {
            position: fixed;
            bottom: -50px;
            left: 0px;
            right: 0px;
			height: 80px;
            /*font-size: 20px !important;*/
            color: white;
            text-align: center;
            line-height: 35px;
        }

        .footerImage {
/*            width: 100%;*/
            height:125px;
        }

/*
        @font-face {
            font-family: 'Arial';
            font-style: normal;
            font-weight: normal;
            src: url({{ storage_path("fonts/arial/ARIAL.TTF") }}) format("truetype");
        }
*/
		@font-face {
		  font-family: 'helvetica';
		  font-style: normal;
		  font-weight: normal;
		  src: url(https://github.com/CartoDB/cartodb/blob/master/app/assets/fonts/helvetica.ttf) format('truetype');
		}


        body {
            font-family: 'helvetica';
            font-size: .8rem;
            margin-left: 2.6rem;
            margin-right: 2.6rem;
        }

        .signature {
            width: 171.21px;
            height: 62.15px;
            margin-left: -0.00px;
            margin-top: -0.00px;
            transform: rotate(0.00rad) translateZ(0px);
            -webkit-transform: rotate(0.00rad) translateZ(0px);
        }

        .accountEmail {
            -webkit-text-decoration-skip: none;
            color: #0000ff;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 12pt;
            font-style: normal;
            margin-top: -1rem;
        }


        .minusLine {
            margin-top: -1rem;
        }

        .lineHeight {
            margin-top: -.7rem;
        }

        table tr, td {
            border: 1px solid #d2d2d2;
            border-collapse: collapse;
            padding: 5px;
            text-align: right
        }

        table {
            border-collapse: collapse;
        }
